@import "src/app/shared/global-styles/variable";
@import "src/app/shared/global-styles/components";

@media (min-width: 0) {
    .wrapper {
        max-width: 850px;
        margin: 0 auto;

        .headline {
            font-size: 1.5rem;
            margin: 15px 0;
            display: inline;
        }

        .new-settlement {
            margin: 20px 0;
            &__add {
                background-color: #008B8B;
                color: white;
                border-radius: 5px;
                padding: 5px 10px;
                border: 0;
                font-size: .8rem;
                font-weight: bolder;

                &:hover {
                    opacity: .9;
                }

                &:disabled {
                    opacity: .6;
                }
            }
        }
    }
}




