@import "src/app/shared/global-styles/variable";
@import "src/app/shared/global-styles/components";

@media (min-width: 0) {
    .point-mod-btn {
        @include firstlyBtn;
        font-size: .9rem;
        margin: 15px 0;
        padding: 4px 5px;
    }

    .new-point {
        font-size: .9rem;
        display: flex;
        flex-direction: column;

        input {
            text-align: center;
            width: 200px;
            margin-top: 5px;
        }

        &__submit {
            margin: 20px 0;
            width: 100px;
            cursor: pointer;
            border: 0;
            background-color: transparent;

            &:hover {
                color: $prettyGreen;
            }
        }
    }
}
