<button
    class="point-mod-btn"
    (click)="pointCreatorMod = !pointCreatorMod"
>
    {{pointCreatorMod ? 'Cofnij' : 'Dodaj nowy punkt'}}
</button>

<form
    *ngIf="pointCreatorMod"
    [formGroup]="pointForm"
    (ngSubmit)="pointForm.valid && addNewPoint()"
    class="new-point"
>
    <input
        type="text"
        placeholder="nazwa logowania"
        formControlName="login"
    >

    <input
        type="text"
        placeholder="Nazwa punktu"
        formControlName="pointName"
        required
    >

    <input
        type="password"
        placeholder="hasło"
        formControlName="password"
    >

    <button
        type="submit"
        class="new-point__submit"
    >
        Zapisz
    </button>

</form>

<ul *ngIf="!pointCreatorMod">
    <li *ngFor="let point of pointsList">{{point}}</li>
</ul>
