<div class="wrapper">
    <h1 class="header">Sprzedaż</h1>

    <div class="addition-item">
        <select 
            name="" 
            id=""
            class="addition-item__ini"
        >
            <option value="">KB</option>
        </select>

        <select 
            name="" 
            id=""
            class="addition-item__accessories"
        >
            <option>akcesoria</option>
        </select>

        <input 
            type="text"
            class="addition-item__name"
            placeholder="nazwa"
        >

        <input 
            type="text"
            class="addition-item__price"
            placeholder="cena"
        >

        <button class="addition-item__confirm">
            <fa-icon 
                class="addition-item__confirm__icon" 
                [icon]="faCheckCircle">
            </fa-icon>
        </button>

    </div>



</div>