@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@mixin elementInItem {
    background-color: transparent;
    border: 0;
    margin: auto 4px;
    color: $primaryGrey;
    border-bottom: 2px solid $primaryGrey;
}

@media (min-width: 0) {

    .wrapper {

        .header {
            border-left: 2px solid $primaryGrey;
            padding: 10px 30px;
            font-size: 1.7rem;
        }

        .addition-item {
            display: block;
            margin-top: 20px;
            background-color: white;
            min-height: 35px;
            font-size: .8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            select, input {
                @include elementInItem;
                cursor: pointer;
            }

            &__category {
                width: 3ch;
            }

            &__name, &__price {
                text-align: center;
            }

            &__name {
                min-width: 80px;
                max-width: 140px;
            }

            &__price {
                width: 35px;
            }

            &__confirm {
                @include firstlyBtn;
                border: 0;
                padding: 0;
                min-width: 60px;
                max-width: 100px;
                height: 32px;
                margin: 0 5px;

                &__icon {
                    color: white;
                }
            }
        }

        .list {
            margin-top: 30px;

            &__item {
                margin: 8px auto;
                background-color: white;
                min-height: 35px;
                display: flex;
                justify-content: space-evenly;
                border-radius: 5px;
                font-size: .8rem;

                &__index, &__ini, &__category {
                    width: 22px;
                }

                &__index, &__ini, &__category, &__name, &__price {
                    text-align: center;
                    display: inline-block;
                    @include elementInItem;
                }

                &__name {
                    max-width: 160px;
                    overflow: hidden;
                }

                &__price {
                    min-width: 45px;
                    overflow: hidden;
                }

                &__edit {
                    align-self: center;

                    &__suspend {
                        @include elementInItem;
                        border: 0;

                        transition: transform 0s .2 ease-in-out;
    
                        &__icon {
                            color: $waringColor;
                        }

                        &:hover {
                            transform: translateY(-2px);
                        }
                    }

                    &__active {
                        display: flex;
                        flex-direction: row;
                        transition: transform 0s .2 ease-in-out;

                        &__option {
                            @include elementInItem;
                            border: 0;

                            &:hover {
                                color:turquoise;
                                transform: rotate(10deg);
                            }
                        }
                    }
                }
            }

            &__wrap-up {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: inline-block;
                }

                &__change-site {

                    &__rewind {
                        margin: auto 5px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            color: $prettyGreen;
                        }
                    }
                }

                &__value {
                    color: $successColor;
                    border-bottom: 2px solid $successColor;
                    padding: 0 5px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .wrapper {
        max-width: 490px;

        .header {
            font-size: 1.7rem;
        }

        .addition-item {
            font-size: .8rem;

            &__category {
                width: auto;
            }

            &__price {
                width: 50px;
            }
        }

        .list {

            &__item {
                margin: 8px auto;
                font-size: .7rem;
                background-color: white;

                &__name {
                    min-width: 200px;
                    max-width: 230px;
                    overflow: hidden;
                }
            }

            &__wrap-up {
                margin-top: 40px;

                &__change-site {

                    a {
                        margin: auto 10px;
                    }
                }
            }
        }

    }
}
