<div class="wrapper">
    <h1 class="header">Sprzedaż</h1>

    <div class="addition-item">

        <form #authForm="ngForm" (ngSubmit)="authForm">
            <select 
                name="initials"
                class="addition-item__ini"
                required
                ngModel
            >
                <option 
                    *ngFor="let employee of employees"
                    [value]="employee.initials"
                >
                    {{employee.initials}}
                </option>
            
            </select>

            <select 
                name="category"
                class="addition-item__category"
                required
                ngModel
            >
                <option 
                    *ngFor="let oneOfCategory of category"
                    [value]="oneOfCategory"
                >
                    {{oneOfCategory}}
                </option>
            </select>

            <input 
                type="text"
                class="addition-item__name"
                placeholder="nazwa"
                name="name"
                required
                ngModel
            >

            <input 
                type="text"
                class="addition-item__price"
                name="price"
                placeholder="cena"
                required
                ngModel
            >

            <button class="addition-item__confirm" type="submit">
                <fa-icon 
                    class="addition-item__confirm__icon" 
                    [icon]="faCheckCircle">
                </fa-icon>
            </button>

        </form>
        
    </div>

    <div class="list">

        <div 
            class="list__item"
            *ngFor="let element of testElements; index as i"
        >
            <div class="list__item__index">{{i + 1}}.</div>
            <div class="list__item__ini">{{element.initials}}</div>
            <div class="list__item__category">
                <fa-icon [icon]="dictionaryIcon[element.category]"></fa-icon>
            </div>
            <div class="list__item__name">{{element.name}}</div>
            <div class="list__item__price">{{element.price}} zł</div>
            <button class="list__item__edit">
                <fa-icon class="list__item__edit__icon" [icon]="faEdit"></fa-icon>
            </button>
        </div>

        <div class="list__wrap-up">
            <div class="list__wrap-up__change-site">
                <a>poprzednia</a>
                <a>następna</a>
            </div>
            <div class="list__wrap-up__value">120</div>
        </div>

    </div>

</div>