@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@mixin elementInItem {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $primaryGrey;
    margin: auto 4px;
    color: $primaryGrey;
}

@media (min-width: 0) { 

    .wrapper {
        
        .header {
            border-left: 2px solid $primaryGrey;
            padding: 10px 30px;
            font-size: 1.7rem;
        }

        .addition-item {
            display: block;
            margin-top: 20px;
            background-color: white;
            min-height: 35px;
            font-size: .8rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            select, input {
                @include elementInItem;
                cursor: pointer;
            }

            &__category {
                width: 3ch;
            }

            &__name, &__price {
                text-align: center;
            }

            &__name {
                min-width: 80px;
                max-width: 200px;
            }

            &__price {
                width: 35px;
            }

            &__confirm {
                @include firstlyBtn;
                border: 0;
                padding: 0;
                min-width: 60px;
                max-width: 100px;
                height: 32px;
                margin-left: 5px;

                &__icon {
                    color: white;
                }
            }
        }

        .list {
            margin-top: 30px;

            &__item {
                margin: 8px auto;
                background-color: white;
                min-height: 35px;
                display: flex;
                justify-content: space-evenly;
                border-radius: 5px;

                div {
                    display: inline-block;
                    @include elementInItem;
                }

                &__name {
                    width: 160px;
                    text-align: center;
                }

                &__edit {
                    border: 0;
                    background-color: transparent;
                    margin-left: 5px;

                    &__icon {
                        color: $waringColor;
                    }
                }

            }

            &__wrap-up {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: inline-block;
                }

                &__change-site {

                    a {
                        margin: auto 5px;
                        cursor: pointer;
                    }
                }

                &__value {
                    color: $successColor;
                    border-bottom: 2px solid $successColor;
                    padding: 0 5px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .wrapper {
        max-width: 500px;

        .header {
            font-size: 1.9rem;
        }

        .addition-item {
            font-size: .9rem;

            &__category {
                width: auto;
            }

            &__price {
                width: 40px;
            }
        }

        .list {

            &__item {
                margin: 8px auto;
                margin-left: 30px;
                background-color: white;

            }

            &__wrap-up {
                margin-top: 40px;

                &__change-site {

                    a {
                        margin: auto 10px;
                    }
                }
            }
        }

    }
}