@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@media (min-width: 0) {
    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    
        &__prev, &__next {
            margin: auto 5px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: $prettyGreen;
            }
        }
    }
}
@media (min-width: $minValueTablet) {
    .pagination {

        &__prev, &__next {

            a {
                margin: auto 10px;
            }
        }
    }
}