<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="halko backup" value="C:\Users\Kipoderax\Desktop\Projekty\Halko\"/>
        <add key="identity backup" value="C:\Users\Kipoderax\Desktop\Projekty\Halko\"/>
        <add key="backup time" value="14"/>
    </appSettings>
</configuration>
