<div class="archiv">
    <app-phones-seacher></app-phones-seacher>

    <div
        class="elInList"
        *ngFor="let phone of phonesList; index as i"
    >

        <div class="elInList__index">
            {{i + 1}}.
        </div>

        <div
            *ngFor="let element of phoneField"
            class="elInList__{{element}}"
        >
            {{
                element !== 'dateSold'
                ? phone[element]
                : phone[element] | date:'dd.MM.YYYY'
            }}
        </div>

    </div>

</div>
