<div class="wrapper">

    <div class="header">
        Sprzedajesz {{elInList.producer +' '+elInList.model}}
        <fa-icon [icon]="faMobileAlt"></fa-icon>
    </div>

    <form
        class="form-sold"
        #soldPhone="ngForm"
        (ngSubmit)="soldPhone.valid && soldPhoneFunc(soldPhone)"
    >

        <label
            class="form-sold__label-price"
            for="price"
        >
            Cena:
        </label>

        <input
            class="form-sold__input-price"
            type="text"
            id="price"
            name="price"
            pattern="[0-9]*[.]?[0-9]+"
            [ngModel]="elInList.price"
            required
        >

        <button
            class="form-sold__btn"
            type="submit"
            [ngClass]="{ '--non-valid': !soldPhone.valid }"
        >
            Potwierdź
        </button>

    </form>

</div>
