@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@media (min-width: 0) {
    .elInList {
        padding: 3px 10px;
        font-size: .7rem;
        background-color: white;
        margin-top: 10px;
        border-radius: 5px;

        &__upward {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__fields {

                &__field {
                    text-align: center;
                    overflow: hidden;

                    &--hide {
                        display: none;
                    }

                    &:hover {
                        color: $prettyGreen;
                    }
                }
            }

            &__info-btn {
                border: 0;
                background-color: transparent;
                color: $prettyGreen;
                transition: transform 0s .1s ease-in-out;

                &:hover {
                    transform: translateY(-1px);
                }

                &.detailsMode {
                    color: $waringColor;
                }
            }

            &:hover &__editing {
                color: $waringColor;
            }

            &.detailsMode {
                justify-content: flex-end;
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .elInList__upward {
        font-size: .7rem;

        &__field--hide {
            display: initial;
        }

        &__info-btn {
            border: 0;
            background-color: transparent;
            color: $prettyGreen;
        }

        &:hover {
            color: $prettyGreen;
        }

        &:hover &__info-btn {
            color: $waringColor;
        }
    }
}
