@import 'src/app/shared/global-styles/variable';

@media (min-width: 0) {
    .button-options {
        margin-bottom: 10px;

        &__choice-btn {
            cursor: pointer;
            padding: 2px 10px;
            margin-right: 10px;
            background-color: $prettyGreen;
            color: white;
            font-weight: bolder;
            border: 0;
            border-radius: 1px;

            &:hover {
                opacity: .9;
            }
        }
    }

    .show-template {
        border-bottom: 1px solid black;
    }
}
