<div class="elInList">

    <div class="elInList__header">

        <div class="elInList__header__index">
            {{ind}}.
        </div>
    
        <ng-container *ngIf="!infoMode">

            <div class="elInList__header__brand">
                {{elInList.brand}}
            </div>

            <div class="elInList__header__model">
                {{elInList.model}}
            </div>

            <div class="elInList__header__imei">
                {{elInList.imei}}
            </div>
        
            <div class="elInList__header__color">
                {{elInList.color}}
            </div>
        
            <div class="elInList__header__place">
                {{elInList.place}}
            </div>
        
            <div class="elInList__header__state">
                {{elInList.state}}
            </div>
        
            <div class="elInList__header__bought">
                {{elInList.bought}} zł
            </div>
        
            <div class="elInList__header__price">
                {{elInList.price}} zł
            </div>

        </ng-container>

        <button 
            class="elInList__header__editing"
            (click)="infoMode = !infoMode"
        >
            
            <fa-icon [icon]="faInfoCircle" *ngIf="!infoMode; else infoModeActive"></fa-icon>
            
            <ng-template #infoModeActive>
                <fa-icon [icon]="faUndo" *ngIf="infoMode"></fa-icon>
            </ng-template>
        
        </button>

    </div>

    <div class="elInList-inner">

        <ng-container *ngIf="infoMode">
            <app-phones-item-in-list-info
                [elInList]="elInList"
            ></app-phones-item-in-list-info>
        </ng-container>

    </div>

</div>
