<div class="elInList">

    <div
        class="elInList__upward"
        [ngClass]="{'detailsMode': detailsMode}"
    >

        <ng-container *ngIf="!detailsMode">

            <div 
                class="elInList__upward__field"
                [ngStyle]="{ width: phonesItemField[0].width }"
            >
                {{ind}}.
            </div>

            <div 
                class="elInList__upward__field"
                *ngFor="let field of phonesItemField"
                [ngStyle]="{
                    'width': field.width,
                    'display': elInList[field.category] ? '' : 'none'
                }"
                [ngClass]="{ 'elInList__upward__field--mobile': !field.isMobileRwd }"
            >
                {{elInList[field.category]}} {{field.currency}}
            </div>

        </ng-container>

        <button
            class="elInList__upward__info-btn"
            (click)="detailsMode = !detailsMode"
            [ngClass]="{'detailsMode': detailsMode}"
        >

            <fa-icon
                [icon]="faInfoCircle"
                *ngIf="!detailsMode; else detailsModeActive"
            ></fa-icon>

            <ng-template #detailsModeActive>

                <fa-icon [icon]="faUndo"></fa-icon>

            </ng-template>

        </button>

    </div>

    <div class="elInList-inner">

        <ng-container *ngIf="detailsMode">

            <app-phones-details
                [elInList]="elInList"
                (refreshList)="this.refreshPhoneList.emit()"
            ></app-phones-details>

        </ng-container>

    </div>

</div>
