<div class="elInList">

    <div class="options">

        <ng-container *ngIf="!undoButtonActive; else undoButtonActiveTem">

            <a (click)="switchBlock('viewAndEditPhone')">Edytuj</a>
            <a (click)="switchBlock('soldPhone')">Sprzedaj</a>
            <a (click)="switchBlock('sendPhone')">Przekaż</a>

        </ng-container>

        <ng-template #undoButtonActiveTem>
            <a (click)="switchBlock('back')">Cofnij</a>
        </ng-template>

    </div>

    <!-- this place is for block example view, sold or send -->
    <div *ngIf="show; then showBlock"></div>

    <ng-template #viewAndEditPhone>

        <app-phones-view-edit
            [elInList]="elInList"
            [editMode]="editMode"
            (doneAction)="doneAction()"
        ></app-phones-view-edit>

    </ng-template>

    <ng-template #soldPhone>

        <app-phones-sold
            [elInList]="elInList"
            (doneAction)="doneAction()"
        ></app-phones-sold>

    </ng-template>

    <ng-template #sendPhone>
        <app-phones-transfer
            [elInList]="elInList"
            (doneAction)="doneAction()"
        ></app-phones-transfer>
    </ng-template>

</div>
