@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .elInList {
        font-size: .6rem;
        padding: 0 0 15px 10px;

        .options {
            margin: 10px 0;

            a {
                cursor: pointer;
                padding: 2px 10px;
                margin-right: 3px;
                background-color: $prettyGreen;
                color: white;
                font-weight: bolder;
                border: 0;
                border-radius: 1px;

                &:hover {
                    opacity: .9;
                }
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .elInList {
        font-size: .7rem;
        margin-top: 0px;
    }
}
