@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .elInList {
        margin-top: 15px;
        font-size: .6rem;
        padding: 0 10px;

        .options {
            margin: 20px 0;

            a {
                cursor: pointer;
                padding: 2px 5px;
                margin: 0 3px;
                border: 1px solid $primaryGrey;

                &:hover {
                    color: white;
                    font-weight: bolder;
                    background-color: $prettyGreen;
                }
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .elInList {
        font-size: .7rem;
        margin-top: 0px;
    }
}
