@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

p {
    margin: 0;
    padding: 0;
}

@mixin blockInList {
    background-color: white;
    margin-top: 10px;
    font-size: .9rem;
    padding: 15px 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

@media (min-width: 0) {
    
    .wrapper {
        width: 250px;

        &__calendar {
            display: flex;
            justify-content: center;
            height: 45px;

            &__input {
                border: 0;
                width: 20em;
                font-size: 1.1rem;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }
        }

        &__prev-day {
            @include blockInList;

            p:last-child {
                color: $primaryGrey;
                font-size: .8rem;
            }
        }

        &__balance-day {
            @include blockInList;

            &__phoneToUp, &__power-up {
                margin-top: 7px;
                font-size: .7rem;

                input {
                    display: inline;
                    width: 45px;
                    margin-right: 10px;
                    text-align: center;
                }
            }

            &__summary {
                margin-top: 15px;
                font-size: .8rem;

                p:last-child {
                    color: $primaryGrey;
                    font-size: .7rem;
                }
            }
        }

        &__state-cash {
            @include blockInList;

            &__cash, &__credit-card {
                margin-top: 7px;
                font-size: .7rem;

                input {
                    display: inline;
                    width: 60px;
                    margin-right: 10px;
                    text-align: center;
                }
            }

            &__summary {
                margin-top: 15px;
                font-size: .8rem;

                p:last-child {
                    color: $primaryGrey;
                    font-size: .7rem;
                }
            }
        }

        &__summary {
            @include blockInList;

            &__items {
                display: flex;
                justify-content: space-around;
                margin-top: 10px;

                &__item {
                    font-size: .8rem;
                    color: $primaryGrey;

                    &__icon {
                        margin-right: 5px;
                    }
                }
            }
        }

        &__save-day {
            margin-top: 10px;
            display: flex;

            &__confirm {
                @include firstlyBtn;
                width: 100%;
            }
        }
    }
}
