<form
    class="new-phone"
    #addPhone="ngForm"
    (ngSubmit)="addNewPhone(addPhone)"
>

    <ng-template
        #phone
        let-categoryName="categoryName"
        let-polishName="polishName"
        let-isNumber="isNumber"
    >

        <label [for]="categoryName">{{polishName}}:</label>
        <input
            type="text"
            [id]="categoryName"
            [name]="categoryName"
            [pattern]="isNumber ? '[0-9]*[.]?[0-9]+' : ''"
            [ngClass]="categoryName"
            required
            ngModel
        >

        <span></span>

    </ng-template>

    <div
        class="new-phone__field form-text"
        *ngFor="let field of fields"
    >
        <ng-container
            *ngTemplateOutlet="phone;
            context: {
                categoryName: field.categoryName,
                polishName: field.polishName,
                isNumber: field.isNumber
            }"
        ></ng-container>

    </div>

    <div class="new-phone__field form-text">
        <label for="state">Stan:</label>

        <select
            name="state"
            id="state"
            [ngModel]="phoneStates[0]"
        >

            <option
                *ngFor="let newOrNot of phoneStates"
                [value]="newOrNot"
            >
                {{newOrNot}}
            </option>

        </select>

    </div>

    <div class="new-phone__submit-button">

        <button
            type="submit"
            class="new-phone__submit-button__btn"
            [disabled]="!addPhone.valid"
        >
            Dodaj telefon
        </button>

    </div>

</form>
