<div class="elInList">

    <div class="details">

        <div class="details__main">

            <div class="details__main__brand">

                <div class="category-param">
                    Marka:
                </div>
                
                <div class="name-param">
                    {{elInList.brand}}
                </div>
            
            </div>
    
            <div class="details__main__model">
                Model: {{elInList.model}}
            </div>
    
            <div class="details__main__place">
                Punkt: {{elInList.place}}
            </div>

            <div class="details__main__state">
                Stan: {{elInList.state}}
            </div>

        </div>

        <div class="details__common">

            <div class="details__common__imei">
                Imei: {{elInList.imei}}
            </div>
    
            <div class="details__common__color">
                Kolor: {{elInList.color}}
            </div>
    
            <div class="details__common__comments">
                Uwagi: -
            </div>
    
            <div class="details__common__bought-date">
                Data zakupu: -
            </div>

        </div>
        
        <div class="details__prices">

            <div class="details__prices__bought">
                Cena zakupu: {{elInList.bought}} zł
            </div>
    
            <div class="details__prices__price">
                Cena: {{elInList.price}} zł
            </div>

        </div>

    </div>

    

    <div class="options">
        <a>Edytuj</a>
        <a>Sprzedaj</a>
        <a>Przekaż</a>
    </div>


</div>