<div class="elInList">

    <div class="details">

        <div class="details__main">

            <div class="details__main__brand">

                <div class="details__main__brand__category-param">
                    Marka:
                </div>

                <div class="details__main__brand__name-param">
                    {{elInList.brand}}
                </div>

            </div>

            <div class="details__main__model">

                <div class="details__main__model__category-param">
                    Model:
                </div>

                <div class="details__main__model__name-param">
                    {{elInList.model}}
                </div>

            </div>

            <div class="details__main__place">

                <div class="details__main__place__category-param">
                    Punkt:
                </div>

                <div class="details__main__place__name-param">
                    {{elInList.place}}
                </div>

            </div>

            <div class="details__main__state">

                <div class="details__main__state__category-param">
                    Stan:
                </div>

                <div class="details__main__state__name-param">
                    {{elInList.state}}
                </div>

            </div>

        </div>

        <div class="details__common">

            <div class="details__common__imei">

                <div class="details__common__imei__category-param">
                    Imei:
                </div>

                <div class="details__common__imei__name-param">
                    {{elInList.imei}}
                </div>

            </div>

            <div class="details__common__color">

                <div class="details__common__color__category-param">
                    Kolor:
                </div>

                <div class="details__common__color__name-param">
                    {{elInList.color}}
                </div>

            </div>

            <div class="details__common__comments">

                <div class="details__common__comments__category-param">
                    Uwagi:
                </div>

                <div class="details__common__comments__name-param">
                    -
                </div>

            </div>

            <div class="details__common__bought-date">

                <div class="details__common__bought-date__category-param">
                    Data zakupu:
                </div>

                <div class="details__common__bought-date__name-param">
                    -
                </div>

            </div>

        </div>

        <div class="details__prices">

            <div class="details__prices__bought">

                <div class="details__prices__bought__category-param">
                    Cena zakupu:
                </div>

                <div class="details__prices__bought__name-param">
                    {{elInList.bought}} zł
                </div>

            </div>

            <div class="details__prices__price">

                <div class="details__prices__price__category-param">
                    Cena:
                </div>

                <div class="details__prices__price__name-param">
                    {{elInList.price}} zł
                </div>

            </div>

        </div>

    </div>



    <div class="options">
        <a>Edytuj</a>
        <a>Sprzedaj</a>
        <a>Przekaż</a>
    </div>


</div>
