@import "src/app/shared/global-styles/variable";

.creator-btn {
  border: 0;
  background-color: transparent;
  font-size: 1.1rem;
  margin-bottom: 20px;

  &:hover {
    color: $prettyGreen;
  }
}

.changer {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px groove black;
  margin-bottom: 15px;
}
