<div class="wrapper">
    <app-scratch-header [title]="title"></app-scratch-header>

    <app-scratch-adder></app-scratch-adder>

    <div class="list">

        <div
            class="list__item"
            *ngFor="let item of (items | async) | slice:start:end"
        >
            <app-item-view
                *ngIf="this.currentlyEditedElement !== item.id else editModeActive"
                [OurItem]="item"
                (editModeToggle)="editElementModeToggle(ind)"
            ></app-item-view>

            <ng-template #editModeActive>
                <app-item-edit
                    [ourItem]="item"
                    [employees]="employees"
                    [category]="category"
                ></app-item-edit>
            </ng-template>

        </div>

    </div>

</div>
