@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@media (min-width: 0) {
    .wrapper {
        max-width: 490px;
    
        .list {
            margin-top: 30px;
        }
    }
}

@media (min-width: $minValueTablet) {
    .wrapper {
        @include wrapperForSheetInMain;
    
        .list {
            margin-top: 30px;
        }
    }
}
