@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .item {
        margin-top: 5px;
        background-color: white;
        font-size: .9rem;
        padding: 0 10px;

        .upward {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;

            &__category {

                &__info-btn {
                    border: 0;
                    background-color: transparent;
                    color: $prettyGreen;
                    transition: transform 0s .2 ease-in-out;

                    &:hover {
                        transform: translateY(-1px);
                    }
                }
            }
        }

    }
}

@media (min-width: $minValueDesktop) {
} 