@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .details {
        margin-bottom: 15px;

        &__field {
            margin-top: 10px;
            display: flex;
            font-size:  .7rem;

            &__category {
                font-weight: bolder;
            }

            &__param {
                margin-left: 10px;

                &--edit-mode {
                    margin-left: 10px;
                    border: 0;
                    border-bottom: 1px solid black;
                    text-align: center;
                    background-color: transparent;

                    &--currency {
                        width: 50px;
                    }
                }
            }

            &__param-select--edit-mode {
                margin-left: 10px;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $primaryGrey;
                cursor: pointer;
                text-align: center;
            }
        }

        &__submit {
            margin: 10px 0;
            font-size: .7rem;
            border: 0;
            background-color: transparent;
            color: $prettyGreen;

            &:hover {
                opacity: .7;
            }
        }

    }

    .btn-edit-mode {
        margin: 10px 0;
        font-size: .7rem;
        border: 0;
        background-color: transparent;
        color: $prettyGreen;

        &:hover {
            opacity: .7;
        }

        &--active {
            margin-top: 5px;
            font-size: .6rem;
            color: $dangerColor;
        }
    }
}

@media (min-width: $minValueDesktop) {
    .details__field {
        font-size:  .7rem;
    }
}
