<div class="details">

    <ng-container #optComponent></ng-container>

    <div
        class="details__field"
        *ngFor="let field of deviceFields"
        [ngStyle]="{
            'display': elInList[field.category] ? '' : 'none'
        }"
    >

        <div class="details__field__category">
            {{field.polishName | titlecase}}:
        </div>

        <div class="details__field__param">

            {{
                field.isDate
                ? (elInList[field.category] | slice:0:10)
                : elInList[field.category]
            }}

            {{field.currency}}
        </div>

    </div>

</div>
