@import '../../global-styles/variable.scss';
@import '../../global-styles/components.scss';

@media (min-width: 0) {    
    .wrapper {
        min-height: 500px;
        background-color: white;
        margin: 30px 20px;
        padding: 20px;
        border-radius: 15px;
        position: relative;

        .greeting {

            &__icon-hand {
                text-align: center;
                font-size: 4rem;
                margin: 0;
            }
            
            &__title {
                margin-top: 15px;
                font-weight: 300;
                font-size: 1.5rem;
                text-align: center;
            }
        }

        .logging {
            margin-top: 50px;

            &__login, &__password, &__setting-button {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
            }

            &__login, &__password {
                label {
                    color: $primaryGrey;
                    font-size: .8rem;
                }
    
                input {
                    margin-top: 5px;
                    height: 25px;
                    border: 0;
                    border-bottom: 1px solid $primaryGrey;
                    font-size: .8rem;
                }
            }

            &__setting-button {
                .logging__button {
                    @include firstlyBtn;
                    font-size: .9rem;
                }
            }

            .alert.alert-danger {
                font-size: .8rem;
                padding: 5px;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}

@media (min-width: $minValueTablet) {
    .wrapper {
        max-width: 500px;
        margin: 7vw auto;
        padding: 30px 50px;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #008B8B;
            top: 0;
            z-index: -1;
            right: 0;
            position: absolute;
            border-radius: 15px;
            transition: .3s ease-out;
        }

        &:hover::after {
            transform: translate(10%, 10%);
        }

        .greeting {

            &__icon-hand {
                font-size: 5rem;
            }
            
            &__title {
                margin-top: 15px;
                font-weight: 300;
                font-size: 2rem;
                text-align: center;
            }
        }

        .logging {
            &__login, &__password, &__setting-button {
                margin-top: 30px;
            }

            &__login, &__password {
                label {
                    font-size: 1rem;
                }
    
                input {
                    font-size: 1rem;
                }
            }

            &__setting-button {
                .logging__button {
                    font-size: 1rem;
                    width: 150px;
                    margin: 0 auto;
                }
            }
        }
    }
}

