@import '../../global-styles/variable.scss';

@media (min-width: 0) {
    .container {
        background-color: white;
        margin: 30px 20px;

        h1 {
            font-weight: 400;
        }
    }
}

@media (min-width: $minValueDesktop) {
    .container {
        background-color: white;
        max-width: 600px;
    }
}

