@import '../../global-styles/variable.scss';
@import '../../global-styles/components.scss';

body {
    display: block;
    background-color: red;
}

@media (min-width: 0) {    
    .wrapper {
        min-height: 500px;
        background-color: white;
        margin: 30px 20px;
        padding: 20px;
        border-radius: 15px;

        .greeting {

            &__icon-hand {
                text-align: center;
                font-size: 4rem;
                margin: 0;
            }
            
            &__title {
                margin-top: 15px;
                font-weight: 300;
                font-size: 1.5rem;
                text-align: center;
            }
        }

        .logging {
            margin-top: 50px;

            &__login, &__password, &__setting-button {
                display: flex;
                flex-direction: column;
                margin-top: 25px;
            }

            &__login, &__password {
                label {
                    color: $primaryGrey;
                }
    
                input {
                    margin-top: 5px;
                    height: 25px;
                    border: 0;
                    border-bottom: 1px solid $primaryGrey;
                }
            }

            &__setting-button {
                .logging__button {
                    @include firstlyBtn;
                }
            }
        }
    }
}

@media (min-width: $minValueTablet) {
    .wrapper {
        max-width: 450px;
        margin: 200px auto;
        padding: 20px 40px;
    }
}

