<div class="wrapper">

    <div class="greeting">

        <h1 class="greeting__icon-hand">
            <fa-icon [icon]="faHandPeace"></fa-icon>
        </h1>

        <h2 class="greeting__title">Logowanie</h2>

    </div>

    <form class="logging">

        <div class="logging__login">
            <label for="login">Wprowadź login</label>
            <input 
            type="text"
            id="login">

            <div class="invalid-feedback">Dupa jkas</div>

        </div>

        <div class="logging__password">
            <label for="password">Wprowadź hasło</label>
            <input type="text" id="password">
        </div>

        <div class="logging__setting-button">
            <button type="button" class="logging__button">Zaloguj się</button>
        </div>

    </form>

</div>