<form
    class="details"
    #updatePhone="ngForm"
    (ngSubmit)="updatePhone.valid && updatePhoneFunc(updatePhone)"
>

    <ng-container *ngFor="let field of phonesItemField">

        <div
            class="details__field"
            *ngIf="field.override || !editMode"
        >
            <div class="details__field__category">
                {{field.polishName | titlecase}}:
            </div>

            <div
                class="details__field__param"
                *ngIf="!editMode; else editModeTem"
            >
                {{elInList[field.category]}} {{field.currency}}
            </div>

            <ng-template #editModeTem>

                <div class="details__field__param--editMode">

                    <input
                        *ngIf="!field.special; else special"
                        type="text"
                        [name]="field.category"
                        [pattern]="isNumber ? '[0-9]*[.]?[0-9]+' : ''"
                        [ngModel]="elInList[field.category]"
                    >

                    <ng-template #special>

                        <select
                            name="state"
                            [ngModel]="elInList.state"
                        >
                            <option
                                *ngFor="let state of phoneStates"
                                [value]="state"
                            >
                                {{state}}
                            </option>

                        </select>

                    </ng-template>

                </div>

            </ng-template>

        </div>

    </ng-container>

    <button
        *ngIf="editMode"
        class="details__submit"
        type="submit"
    >
        Zapisz
    </button>

</form>
