@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .details {
        margin-top: 20px;

        &__field {
            margin-top: 10px;
            display: flex;
            font-size:  .7rem;

            &__category {
                font-weight: bolder;
            }

            &__param {
                margin-left: 10px;

                &--editMode {
                    margin-left: 10px;
                    
                    input {
                        border: 0;
                        border-bottom: 1px solid black;
                        text-align: center;
                    }

                    select {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid $primaryGrey;
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }

        &__submit {
            font-size: .8rem;
            cursor: pointer;
            margin-top: 15px;
            border: 0;
            background: transparent;

            &:hover {
                color: $successColor;
                text-decoration: underline;
            }
        }
    }
}