@import 'src/app/shared/global-styles/variable.scss';

@media (min-width: 0) {
    .details {

        &__main {
            font-weight: bolder;
        }

        // setting category and property
        &__main, &__common {
            margin-top: 10px;

            &__producer, &__model, &__name,
            &__state, &__imei, &__color,
            &__comment, &__date-buyed, &__priceBuyed,
            &__price {
                margin-top: 5px;
                display: flex;
                align-items: center;

                &__category-param {
                    margin-right: 5px;
                }

                &__name-param {
                    text-decoration: underline;
                }

                &__name-param--editMode {

                    input {
                        border: 0;
                        border-bottom: 1px solid black;
                        text-align: center;
                    }

                    select {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid $primaryGrey;
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }

        &__submit {
            font-size: .8rem;
            cursor: pointer;
            margin-top: 15px;
            border: 0;
            background: transparent;

            &:hover {
                color: $successColor;
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: $minValueDesktop) {
    .details {

        &__main, &__common {
            margin-top: 15px;
        }
    }
}