.middle {
  max-width: 850px;
  margin: 0 auto;

  .headline {
    display: flex;
    justify-content: space-between;

    &__title, &__mew-price {
      font-size: 1.5rem;
      margin-right: 15px;
      display: inline;
    }
  }
}
