<div class="wrapper">

    <div class="middle">

        <div class="headline">{{headline}}</div>

        <app-searcher
            [searcherPattern]="searcherPattern"
            (searchNameFilter)="searchNameFilter($event)"
        ></app-searcher>

        <app-phone-in-list
            *ngFor="let phone of phonePrices"
            [deviceFields]="pricesFieldsArray"
            [elInList]="phone"
            [isFlexStart]="isFlexStart"
            [ind]="phonePrices.indexOf(phone) + 1"
        ></app-phone-in-list>

    </div>

</div>
