<nav class="nav">

    <div class="nav__left-side">
        <img class="nav__left-side__logo" src="../../../assets/logo-caption.png" 
        alt="logo" srcset="">

        <div class="nav__left-side__sites">
            
            <a class="nav__left-side__sites__link active" 
            routerLink="#" routerLinkActive="active">Strona główna</a>
            
            <a class="nav__left-side__sites__link"
            routerLink="#" routerLinkActive="">Spis telefonów</a>
            
            <a class="nav__left-side__sites__link"
            routerLink="#" routerLinkActive="">Rozliczenia</a>
            
            <a class="nav__left-side__sites__link"
            routerLink="#" routerLinkActive="">Serwis</a>
        </div>

    </div>

    <div class="nav__right-side">
        <div class="nav__right-side__name">{{loged.name}}</div>

        <div class="nav__right-side__dropdown" appDropdown #d="appDropdown">
            <fa-icon class="nav__right-side__dropdown__bars" [icon]="faBars"
            [ngClass]="{'active': d.isOpen}"></fa-icon>

            <div class="nav__right-side__dropdown__menu" *ngIf="d.isOpen">
              <div class="nav__right-side__dropdown__menu__option">

                <a class="nav__right-side__dropdown__menu__option__a"
                routerLink="#" routerLinkActive="">Strona główna</a>
                
                <a class="nav__right-side__dropdown__menu__option__a"
                routerLink="#" routerLinkActive="">Spis telefonów</a>

                <a class="nav__right-side__dropdown__menu__option__a"
                  routerLink="#" routerLinkActive="">Rozliczenia</a>

                <a class="nav__right-side__dropdown__menu__option__a"
                routerLink="#" routerLinkActive="">Serwis</a>

                <a class="nav__right-side__dropdown__menu__option__a"
                (click)="logout()">
                  Wyloguj się
                  <fa-icon [icon]="faSignInAlt"></fa-icon>
                </a>

              </div>
            </div>
        </div>
    
    </div>

</nav>
