<nav class="nav">

    <div class="nav__left-side">
        <img class="nav__left-side__logo" src="../../../assets/logo-caption.png" alt="" srcset="">

        <div class="nav__left-side__sites">
            <a routerLink="#" routerLinkActive="">Strona główna</a>
            <a routerLink="#" routerLinkActive="">Spis telefonów</a>
            <a routerLink="#" routerLinkActive="">Rozliczenia</a>
            <a routerLink="#" routerLinkActive="">Serwis</a>
        </div>

    </div>


    <a (click)="logout()">wyloguj</a>
</nav>