<form 
    class="details"
    #updatePhone="ngForm"
    (ngSubmit)="updatePhone.valid && updatePhoneFunc(updatePhone)"
>

    <div class="details__main">

        <ng-template 
            #view
            let-mainOrCommon="mainOrCommon"
            let-categoryName="categoryName"
            let-polishName="polishName"
            let-objValue="objValue"
            let-editModeNotAvailable="editModeNotAvailable"
            let-isNumber="isNumber"
        >

            <div 
                *ngIf="!editModeNotAvailable || !editMode"
                class="details__{{mainOrCommon}}__{{categoryName}}"
            >

                <div class="details__{{mainOrCommon}}__{{categoryName}}__category-param">
                    {{polishName}}:
                </div>

                <div 
                    class="details__{{mainOrCommon}}__{{categoryName}}__name-param"
                    *ngIf="!editMode; else editModeTemplate"
                >   
                    {{objValue || 'brak'}} {{isNumber ? ' zł' : ''}}
                </div>

                <ng-template #editModeTemplate>
                    
                    <div class="details__{{mainOrCommon}}__{{categoryName}}__name-param--editMode">   
                        <input 
                            type="text"
                            name="{{categoryName}}"
                            [ngModel]="objValue"
                        >
                    </div>
                
                </ng-template>

            </div>

        </ng-template>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'main',
                categoryName: 'brand',
                polishName: 'Producent',
                objValue: elInList.brand,
                editModeNotAvailable: false
            }"
        ></ng-container>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'main',
                categoryName: 'brand',
                polishName: 'Model',
                objValue: elInList.model,
                editModeNotAvailable: false
            }"
        ></ng-container> 
        
        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'main',
                categoryName: 'place',
                polishName: 'Punkt',
                objValue: elInList.place,
                editModeNotAvailable: true
            }"
        ></ng-container>


        <div class="details__main__state">

            <div class="details__main__state__category-param">
                Stan:
            </div>

            <div 
                class="details__main__state__name-param"
                *ngIf="!editMode; else editModeTemplateSelect"
            >
                {{elInList.state}}
            </div>

            <ng-template #editModeTemplateSelect>

                <div class="details__main__state__name-param--editMode">

                    <select
                        name="state"
                        [ngModel]="elInList.state"
                    >
                        <option
                            *ngFor="let state of phoneStates"
                            [value]="state"
                        >
                            {{state}}
                        </option>
                    
                    </select>

                </div>

            </ng-template>

        </div>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'main',
                categoryName: 'imei',
                polishName: 'Imei',
                objValue: elInList.imei,
                editModeNotAvailable: false
            }"
        ></ng-container> 

    </div>

    <div class="details__common">


        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'common',
                categoryName: 'color',
                polishName: 'Kolor',
                objValue: elInList.color,
                editModeNotAvailable: false
            }"
        ></ng-container>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'common',
                categoryName: 'comments',
                polishName: 'Uwagi',
                objValue: elInList.comments,
                editModeNotAvailable: false
            }"
        ></ng-container>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'common',
                categoryName: 'bought-date',
                polishName: 'Data zakupu',
                objValue: elInList.dateBought,
                editModeNotAvailable: true
            }"
        ></ng-container>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'common',
                categoryName: 'bought',
                polishName: 'Cena zakupu',
                objValue: elInList.bought,
                editModeNotAvailable: false,
                isNumber: true
            }"
        ></ng-container>

        <ng-container 
            *ngTemplateOutlet="view; context: {
                mainOrCommon: 'common',
                categoryName: 'price',
                polishName: 'Cena',
                objValue: elInList.price,
                editModeNotAvailable: false,
                isNumber: true
            }"
        ></ng-container>

    </div>

    <button
        *ngIf="editMode"
        class="details__submit"
        type="submit"
    >
        Zapisz
    </button>

</form>