@import 'src/app/shared/global-styles/variable.scss';
@import 'src/app/shared/global-styles/components.scss';

@media (min-width: 0) {

    .wrapper {
        max-width: 490px;

        .header {
            border-left: 2px solid $primaryGrey;
            padding: 10px 30px;
            font-size: 1.7rem;
        }

        .addition-item {
            @include setElementsInItem;
            margin-top: 20px;
            font-size: .8rem;
            justify-content: space-between;


            select, input {
                @include oneOfElementsInItem;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid $prettyGreen;
                }
            }

            &__category {
                width: 3ch;
            }

            &__name, &__price {
                text-align: center;
            }

            &__name {
                min-width: 80px;
                max-width: 140px;
            }

            &__price {
                width: 35px;
            }

            &__confirm {
                @include firstlyBtn;
                border: 0;
                padding: 0;
                min-width: 60px;
                max-width: 100px;
                height: 32px;
                margin: 0 5px;

                &__icon {
                    color: white;
                }
            }
        }

        .list {
            margin-top: 30px;

            &__item {

                &__view {
                    @include setElementsInItem;

                    &__index, &__ini, &__category {
                        width: 22px;
                    }

                    &__index, &__ini, &__category, &__name, &__price {
                        text-align: center;
                        @include oneOfElementsInItem;
                    }

                    &__name {
                        min-width: 80px;
                        max-width: 160px;
                        overflow: hidden;
                    }

                    &__price {
                        min-width: 45px;
                        overflow: hidden;
                    }

                    &__edit {
                        @include oneOfElementsInItem;
                        border: 0;
                        transition: transform 0s .2 ease-in-out;

                        &:hover {
                            transform: translateY(-2px);
                        }

                        &__icon {
                            color: $waringColor;
                        }
                    }
                }

                &__editMode {
                    @include setElementsInItem;

                    &__index {
                        width: 22px;
                    }

                    &__index, &__ini, &__category, &__name, &__price {
                        @include oneOfElementsInItem;

                        &:hover {
                            border-bottom: 2px solid $prettyGreen;
                        }
                    }

                    &__category {
                        width: 4ch;
                    }

                    &__name {
                        min-width: 80px;
                        max-width: 160px;
                    }

                    &__price {
                        min-width: 25px;
                        max-width: 35px;
                        overflow: hidden;
                    }

                    &__edit {
                        display: flex;
                        flex-direction: row;
                        transition: transform 0s .2 ease-in-out;

                        &__option {
                            @include oneOfElementsInItem;
                            border: 0;

                            &:hover {
                                color:turquoise;
                                transform: rotate(10deg);
                            }
                        }
                    }
                }
            }

            &__wrap-up {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    display: inline-block;
                }

                &__change-site {

                    &__rewind {
                        margin: auto 5px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                            color: $prettyGreen;
                        }
                    }
                }

                &__value {
                    color: $successColor;
                    border-bottom: 2px solid $successColor;
                    padding: 0 5px;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (min-width: $minValueTablet) {
    .wrapper {
        max-width: 490px;

        .header {
            font-size: 1.7rem;
        }

        .addition-item {
            font-size: .8rem;

            &__category {
                width: auto;
            }

            &__price {
                width: 50px;
            }
        }

        .list {

            &__item {

                &__view {
                    margin: 8px auto;
                    font-size: .7rem;
                    background-color: white;

                    &__name {
                        min-width: 200px;
                        max-width: 230px;
                        overflow: hidden;
                    }
                }

                &__editMode {

                    &__category {
                        width: auto;
                    }
                }
            }

            &__wrap-up {
                margin-top: 40px;

                &__change-site {

                    a {
                        margin: auto 10px;
                    }
                }
            }
        }

    }
}
