@import 'src/app/shared/global-styles/variable.scss';

.wrapper {
    margin-top: 25px;

    .header {
        font-size: 1rem;

        fa-icon {
            margin-left: 5px;
            color: #98FB98;
        }
    }

    .form-transfer {
        margin: 10px 0;

        &__select-place {
            margin-left: 10px;
            margin-right: 15px;
            width: 130px;
            border: 0;
            border-bottom: 1px solid $primaryGrey;
            text-align: center;
            cursor: pointer;
        }

        &__btn {
            border: 0;
            background-color: transparent;

            &:hover {
                text-decoration: underline;
                color: $prettyGreen;
            }

            &.--non-valid {
                color: $dangerColor;

                &:hover {
                    text-decoration: none;
                    cursor: not-allowed;
                }
            }
        }
    }
}