@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');
@import '~ngx-toastr/toastr.css';

:root {
    font: 18px 'Saira', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #F7F8FC;
    font-family: 'Saira', sans-serif;
}